<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <add key="ftpHostName" value="52.166.146.47"/>
    <add key="ftpUserName" value="anpreg"/>
    <add key="ftpPassword" value="TestTestTest123"/>
    <add key="sshHostKeyFingerprint" value="RSA 2048 MD5:69:bc:6e:c6:b6:94:c3:f9:2b:7a:a2:25:16:f5:41:46"/>
    <add key="localPathToFilesToUpload" value="D:\Altinn\Inbox\*"/>
    <add key="remotePath" value="/sftp/inbox/"/>
    <add key="systemUserCode" value="AVL"/>
    
  </appSettings>
</configuration>