<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <add key="ftpHostName" value="altetat03.brreg.no:2222"/>
    <add key="ftpUserName" value="correspondenceBatchUser"/>
    <add key="ftpPassword" value="CorrespondenceBatch!!"/>
    <add key="sshHostKeyFingerprint" value="ssh-rsa 3072 61:aa:8e:cf:e1:66:88:1d:bd:5f:12:a7:fd:1b:03:84"/>
    <add key="localPathToFilesToUpload" value="D:\Altinn\Inbox\*"/>
    <add key="remotePath" value="C:\SftpRoot\"/>
    
  </appSettings>
</configuration>